// common color for bsoft

$blue: #4088fe;
$red: #ff3d40;
$green: #26bf40;
$purper: #9d49f2;
$orange: #ff9a26;

$lightBlue: #d7efff;
$lightRed: #ffedee;
$lightGreen: #e9f8ec;
$lightPurper: #f5ecfe;
$lightOrange: #fff4de;

.co_blue {
    color: $blue !important;
}

.co_red {
    color: $red !important;
}

.co_green {
    color: $green !important;
}

.co_purper {
    color: $purper !important;
}

.co_orange {
    color: $orange !important;
}

.co_light_blue {
    color: $lightBlue !important;
}

.co_light_red {
    color: $lightRed !important;
}

.co_light_green {
    color: $lightGreen !important;
}

.co_light_purper {
    color: $lightPurper !important;
}

.co_light_orange {
    color: $lightOrange !important;
}

.co_money {
    color: #ff592b !important;
}

.co_text {
    color: #262626 !important;
}

.co_readonly {
    color: #888 !important;
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.tl {
    text-align: left !important;
}

.tc {
    text-align: center !important;
}

.tr {
    text-align: right !important;
}

.db {
    display: block !important;
}

.flex {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.flex_start {
    display: flex !important;
    justify-content: flex-start !important;
}

.flex_end {
    display: flex !important;
    justify-content: flex-end !important;
}

.flex_around {
    display: flex !important;
    justify-content: space-around !important;
}

.flex_between {
    display: flex !important;
    justify-content: space-between;
}

.flex_center {
    display: flex !important;
    justify-content: center !important;
}

.flex1 {
    flex: 1 !important;
}

.fn {
    font-weight: normal !important;
}

.fb {
    font-weight: bold !important;
}

.f10 {
    font-size: 10px !important;
}

.f12 {
    font-size: 12px !important;
}

.f13 {
    font-size: 13px !important;
}

.f14 {
    font-size: 14px !important;
}

.f15 {
    font-size: 15px !important;
}

.f16 {
    font-size: 16px !important;
}

.f17 {
    font-size: 17px !important;
}

.f18 {
    font-size: 18px !important;
}

.f19 {
    font-size: 19px !important;
}

.f20 {
    font-size: 20px !important;
}

.f22 {
    font-size: 22px !important;
}

.f24 {
    font-size: 24px !important;
}

.f26 {
    font-size: 26px !important;
}

.f28 {
    font-size: 28px !important;
}

.f30 {
    font-size: 30px !important;
}

.f32 {
    font-size: 32px !important;
}

.f36 {
    font-size: 36px !important;
}

.f40 {
    font-size: 40px !important;
}

.ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.vm {
    vertical-align: middle !important;
}

.line_one {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}

.line_two {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}

.nobg {
    background: none !important;
}

.nobd {
    border: none !important;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.bg_000 {
    background-color: #000 !important;
}

.bg_666 {
    background-color: #666 !important;
}

.bg_999 {
    background-color: #999 !important;
}

.bg_fff {
    background-color: #fff !important;
}

.co_b025 {
    color: rgba(0, 0, 0, 0.25) !important;
}

.co_b045 {
    color: rgba(0, 0, 0, 0.45) !important;
}

.co_b065 {
    color: rgba(0, 0, 0, 0.65) !important;
}

.co_333 {
    color: #333 !important;
}

.co_666 {
    color: #666 !important;
}

.co_888 {
    color: #888 !important;
}

.co_999 {
    color: #666 !important;
}

.co_fff {
    color: #fff !important;
}

.p0 {
    padding: 0 !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.p5 {
    padding: 5px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pr5 {
    padding-right: 5px !important;
}

.p10 {
    padding: 10px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.p15 {
    padding: 15px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.p16 {
    padding: 16px !important;
}

.pt16 {
    padding-top: 16px !important;
}

.pb16 {
    padding-bottom: 16px !important;
}

.pl16 {
    padding-left: 16px !important;
}

.pr16 {
    padding-right: 16px !important;
}

.p20 {
    padding: 20px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.p25 {
    padding: 25px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pl25 {
    padding-left: 25px !important;
}

.pr25 {
    padding-right: 25px !important;
}

.p30 {
    padding: 30px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pr30 {
    padding-right: 30px !important;
}

.p40 {
    padding: 40px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pt46 {
    padding-top: 46px !important;
}

.p50 {
    padding: 50px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.pb50 {
    padding-bottom: 50px !important;
}

.pb70 {
    padding-bottom: 70px !important;
}

.pl50 {
    padding-left: 50px !important;
}

.pr50 {
    padding-right: 50px !important;
}

.p80 {
    padding: 80px !important;
}

.pt80 {
    padding-top: 80px !important;
}

.pb80 {
    padding-bottom: 80px !important;
}

.pl80 {
    padding-left: 80px !important;
}

.pr80 {
    padding-right: 80px !important;
}

.pt80 {
    padding-top: 80px !important;
}

.p90 {
    padding: 90px !important;
}

.pt90 {
    padding-top: 90px !important;
}

.pb90 {
    padding-bottom: 90px !important;
}

.pl90 {
    padding-left: 90px !important;
}

.pr90 {
    padding-right: 90px !important;
}

.p100 {
    padding: 100px !important;
}

.pt100 {
    padding-top: 100px !important;
}

.pb100 {
    padding-bottom: 100px !important;
}

.pl100 {
    padding-left: 100px !important;
}

.pr100 {
    padding-right: 100px !important;
}

.m0 {
    margin: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.ml0 {
    margin-left: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.m5 {
    margin: 5px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.m8 {
    margin: 8px !important;
}

.mt8 {
    margin-top: 8px !important;
}

.mb8 {
    margin-bottom: 8px !important;
}

.ml8 {
    margin-left: 8px !important;
}

.mr8 {
    margin-right: 8px !important;
}

.m10 {
    margin: 10px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.m15 {
    margin: 15px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.m16 {
    margin: 16px !important;
}

.mt16 {
    margin-top: 16px !important;
}

.mb16 {
    margin-bottom: 16px !important;
}

.ml16 {
    margin-left: 16px !important;
}

.mr16 {
    margin-right: 16px !important;
}

.m20 {
    margin: 20px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.m25 {
    margin: 25px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.ml25 {
    margin-left: 25px !important;
}

.mr25 {
    margin-right: 25px !important;
}

.m30 {
    margin: 30px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.ml35 {
    margin-left: 35px !important;
}

.ml36 {
    margin-left: 36px !important;
}

.m40 {
    margin: 40px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.m50 {
    margin: 50px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.ml50 {
    margin-left: 50px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.m60 {
    margin: 60px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.mb60 {
    margin-bottom: 60px !important;
}

.ml60 {
    margin-left: 60px !important;
}

.mr60 {
    margin-right: 60px !important;
}

.m70 {
    margin: 70px !important;
}

.mt70 {
    margin-top: 70px !important;
}

.mb70 {
    margin-bottom: 70px !important;
}

.ml70 {
    margin-left: 70px !important;
}

.mr70 {
    margin-right: 70px !important;
}

.m80 {
    margin: 80px !important;
}

.mt80 {
    margin-top: 80px !important;
}

.mb80 {
    margin-bottom: 80px !important;
}

.ml80 {
    margin-left: 80px !important;
}

.mr80 {
    margin-right: 80px !important;
}

.m90 {
    margin: 90px !important;
}

.mt90 {
    margin-top: 90px !important;
}

.mb90 {
    margin-bottom: 90px !important;
}

.ml90 {
    margin-left: 90px !important;
}

.mr90 {
    margin-right: 90px !important;
}

.mt100 {
    margin-top: 100px !important;
}

.mb100 {
    margin-bottom: 100px !important;
}

.ml100 {
    margin-left: 100px !important;
}

.ml120 {
    margin-left: 120px !important;
}

.mr100 {
    margin-right: 100px !important;
}

.auto {
    margin: 0 auto !important;
}

.hand {
    cursor: pointer !important;
}

.click {
    text-decoration: underline !important;
    cursor: pointer !important;
}

.bdr2 {
    border-radius: 2px !important;
}

.bdr4 {
    border-radius: 4px !important;
}

.bdr8 {
    border-radius: 8px !important;
}

.h15 {
    height: 15px !important;
}

.h32 {
    height: 32px !important;
}

.h36 {
    height: 36px !important;
}

.h40 {
    height: 40px !important;
}

.h50 {
    height: 50px !important;
}

.h60 {
    height: 60px !important;
}

.h70 {
    height: 70px !important;
}

.h0100 {
    height: 100% !important;
}

.w0100 {
    width: 100% !important;
}

.w030 {
    width: 30% !important;
}

.w050 {
    width: 50% !important;
}

.w50 {
    width: 50px !important;
}

.w60 {
    width: 60px !important;
}

.w70 {
    width: 70px !important;
}

.w300 {
    width: 300px !important;
}

.w400 {
    width: 400px !important;
}

.lh15 {
    line-height: 15px !important;
}

.lh20 {
    line-height: 20px !important;
}

.lh30 {
    line-height: 30px !important;
}

.lh40 {
    line-height: 40px !important;
}

.word {
    word-break: break-all !important;
}

.readonly {
    color: #888 !important;
    cursor: not-allowed !important;
}

.sub_title {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    padding-left: 14px;
}

.sub_title::after {
    display: block;
    content: '';
    width: 4px;
    height: 18px;
    background-color: $blue;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 2px;
}
